<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Statistiques des Doctorants">
    <title>Statistiques des Doctorants par Année d'étude</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Statistiques des Doctorants</h1>
    <h2>Statistiques par Année d'étude</h2>
    <img src="{% static image %}" alt="Study year Statistics">
</body>
</html>
